
app/src/main/res/layout/.DS_Store
app/.DS_Store
app/src/main/java/edu/purdue/raj5/.DS_Store
app/src/main/java/edu/purdue/raj5/apartmate/.DS_Store
app/src/main/res/.DS_Store
.idea/workspace.xml

server/node_modules/\.bin/

server/node_modules/@firebase/app-types/

server/node_modules/@firebase/app/dist/

server/node_modules/@firebase/app/

server/node_modules/@firebase/auth-types/

server/node_modules/@firebase/auth/dist/

server/node_modules/@firebase/auth/

server/node_modules/

server/npm-debug\.log

tests/\.idea/workspace\.xml
